<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <title>Reclamações App</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" />
    </head>
    <body>
        <h2 style=" text-align: center">Cadastro de Reclamação</h2><br/><br/>   
        <div class="container">
            <form method="post">
                <div class="form-group row">
                    <label for="nome" class="col-sm-1 col-form-label">Nome: </label>
                    <div class="col-sm-5">
                        <input class="form-control" type="text" placeholder="Vinicius Loreto Ferreira" name="nome" required=""/><br/><br/>
                    </div>
                </div>

                <div class="form-group row">  
                    <label for="idade" class="col-sm-1 col-form-label">Idade: </label>
                    <div class="col-sm-5">
                        <input type="Number" class="form-control" placeholder="23" name="idade" required="" /><br/><br/>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="email" class="col-sm-1 col-form-label">Email: </label>
                    <div class="col-sm-5">
                        <input type="email" class="form-control" placeholder="vinicius.loreto@t2s.com.br" name="email" required="" /><br/><br/>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="data" class="col-sm-1 col-form-label">Data: </label>   
                    <div class="col-sm-5">
                        <input type="date" class="form-control" value="" name="data" required=""/><br/><br/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="descricao" >Digite sua Reclamação: </label><br/>
                    <div class="col-sm-6">
                    <textarea name="descricao" class="form-control" rows="3" required=""></textarea><br/><br/>
                    </div>
                </div>

                <button class="btn btn-success" type="submit">Salvar</button>
                <a class="btn btn-success" href="/reclamacoes">Reclamações cadastradas</a>
            </form>
        </div>
    </body>
</html>
